<div>
   <%= flash[:notice] %>

<p><span>Title:<%= @book.title %></p></span>

<p><span>Body:<%= @book.body %></p></span>

 <%= link_to "Edit",edit_book_path %>
 <%= link_to "Back",books_path %>
 </div>





